<div>
	<form role="search" class="form-horizontal" ng-submit="questionForm.$valid && persistQuestion(question)" novalidate>
		<div class="form-group">
			<label class="control-label">Question:</label>
			<input type="text" class="form-control" ng-model="question.question" ng-init="question.hidden=false" required>
		</div>
		<div class="form-group">
			<label class="control-label">Answer Option 1:</label>
			<input type="text" class="form-control" ng-model="question.option1" required>
			<label class="control-label">Answer Option 2:</label>
			<input type="text" class="form-control" ng-model="question.option2" required>
			<label class="control-label">Answer Option 3:</label>
			<input type="text" class="form-control" ng-model="question.option3" required>
		</div>

		<div class="form-group"><label class="control-label">Correct Answer:</label><br>
		<input type="radio" name="answerRadio" ng-model="question.answer" value="1" required>1
		<input type="radio" name="answerRadio" ng-model="question.answer" value="2">2
		<input type="radio" name="answerRadio" ng-model="question.answer" value="3">3
		</div>

		<div class="form-group">
			<button class="btn btn-primary">
				<span class="glyphicon glyphicon-star"></span> Save Question
			</button>
		</div>
	</form>

	<a href="#/questions" class="pull-right">Back to all questions</a>
</div>